
@font-face {
 font-family: 'BM JUA';
 font-weight: normal;
 font-style: normal;
 src: url('./fonts/BMJUA_otf.otf') format('opentype'),
	 		url('./fonts/BMJUA_ttf.ttf') format('truetype');
}
@font-face {
 font-family: 'BM HANNA';
 font-weight: normal;
 font-style: normal;
 src: url('./fonts/BMHANNA_11yrs_otf.otf') format('opentype'),
	 		url('./fonts/BMHANNA_11yrs_ttf.ttf') format('truetype');
}
@font-face {
 font-family: 'BM DOHYEON';
 font-weight: normal;
 font-style: normal;
 src: url('./fonts/BMDOHYEON_otf.otf') format('opentype'),
	 		url('./fonts/BMDOHYEON_ttf.ttf') format('truetype');
}
